@font-face {
  font-family: "iconfont";
  /* Project id 3671134 */
  src: url('//at.alicdn.com/t/c/font_3671134_2emfzv8sq1v.woff2?t=1664107686856') format('woff2'), url('//at.alicdn.com/t/c/font_3671134_2emfzv8sq1v.woff?t=1664107686856') format('woff'), url('//at.alicdn.com/t/c/font_3671134_2emfzv8sq1v.ttf?t=1664107686856') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fenxiang:before {
  content: "\e60a";
}
.icon-zuopin:before {
  content: "\e60b";
}
.icon-pinglun1:before {
  content: "\e60c";
}
.icon-guanbi:before {
  content: "\e60d";
}
.icon-gengduo:before {
  content: "\e60e";
}
.icon-shanchu:before {
  content: "\e60f";
}
.icon-shouye1:before {
  content: "\e610";
}
.icon-shoucang:before {
  content: "\e611";
}
.icon-shouji1:before {
  content: "\e612";
}
.icon-zuojiantou:before {
  content: "\e613";
}
.icon-sousuo:before {
  content: "\e614";
}
.icon-dianzan:before {
  content: "\e615";
}
.icon-wenda:before {
  content: "\e616";
}
.icon-wuwangluo1:before {
  content: "\e617";
}
.icon-fenxiang1:before {
  content: "\e618";
}
.icon-dianzan2:before {
  content: "\e619";
}
.icon-shipin:before {
  content: "\e61a";
}
.icon-yanzhengma:before {
  content: "\e61b";
}
.icon-lishi1:before {
  content: "\e61c";
}
.icon-wode:before {
  content: "\e61d";
}
.icon-youjiantou:before {
  content: "\e61e";
}
.icon-zuopin1:before {
  content: "\e61f";
}
.icon-yuedu:before {
  content: "\e620";
}
.icon-pinglun:before {
  content: "\e601";
}
.icon-lishi:before {
  content: "\e602";
}
.icon-shouye:before {
  content: "\e603";
}
.icon-shouji:before {
  content: "\e604";
}
.icon-wuwangluo:before {
  content: "\e605";
}
